.autorisation {
  position: relative;
  text-align: center;
  width: 100%;
  background: #000000;

  svg {
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34em;

    color: #ffffff;

    margin-top: 55px;
    margin-bottom: 157px;
  }

  &__sign_out {
    display: flex;
    align-items: center;
    margin: auto;
    height: 38px;
    padding: 10px 21px;
    background: $basic;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #1e1e1e;
    border: 1px solid $black;
    transition: 0.3s all ease-in-out;

    &:hover {
      background: $black;
      color: $basic;
      border: 1px solid $basic;
    }
  }

  &__bottom {
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 0px;

    &::after {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      border-top: 1px solid $basic;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
  }
}
