.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1680px;
  height: 70px;
  z-index: 110;
  margin: 0 auto;
  padding: 16px 80px;
  color: $basic;
  background: $black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    // display: flex;
    // align-items: center;
  }

  &__registration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 21px;
  }

  &__account {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
  }

  &__sign_out {
    width: 120px;
    height: 38px;
    background: #78ded4;
    border-radius: 6px;
    padding: 9px 30px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #1e1e1e;
  }
}
