.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1680px;
  z-index: 110;
  background-color: black;
  margin: 0 auto;
  color: aqua;

  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid brown;
  }
}
