html,
body {
  height: 100vh;
  background-color: black;
}

[id='root'] {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: $black;
  min-height: 100%;

  &__content {
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;

    @include container;
    padding-bottom: 24px !important;
    padding-top: 24px !important;
  }
}
