.undock {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.3s all ease-in-out;

  &__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 28px;

    &::after {
      z-index: 1;
      content: '';
      position: absolute;
      top: 25px;
      left: 0px;
      width: 100%;
      border-top: 2px solid $basic;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 28px;

    &__bold {
      font-weight: 700;
    }
  }

  &__following {
    list-style: inside;

    &__happy {
      margin-left: 24px;
    }
  }

  &__title2 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  &__launch {
    list-style: inside;
    margin-bottom: 60px;
  }

  &__button {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 7px 28px;
    width: 400px;
    background: #78ded4;
    border: 2px solid #78ded4;
    border-radius: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: 0.3s all ease-in-out;

    &:hover {
      background: #78ded400;
      border: 2px solid #78ded4;
    }
  }

  &__checkbox_box {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;

    svg {
      margin-right: 11px;
    }
  }

  &__img_write {
    position: absolute;
    svg {
      width: 20px;
    }

    &__display {
      display: none;
    }
  }

  &__terms {
    position: relative;
    color: #ffffff;

    &__title {
      position: relative;
      font-weight: 700;
      font-size: 18px;

      &::before {
        content: '';
        position: absolute;
        top: 30px;
        width: 610px;
        border-bottom: 2px solid $basic;
      }
    }

    &__text {
      margin-top: 20px;
      margin-bottom: 23px;
      font-weight: 400;
      font-size: 14px;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: black;
      padding: 5px 25px;
      margin-top: 23px;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 40px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 400;
      font-size: 18px;
      transition: 0.3s all ease-in-out;

      &__connect {
        background: #78ded4;
        border: 2px solid #78ded4;

        &:hover {
          background: #78ded400;
          border: 2px solid #78ded4;
          color: #78ded4;

          svg {
            path {
              fill: #78ded4;
            }
          }
        }
      }

      &__disconnect {
        background: #8b9493;
        border: 2px solid #8b9493;
        cursor: auto;
      }
    }

    &__road {
      position: absolute;
      bottom: -155px;
      left: -25px;
    }
  }

  &__selection {
    position: relative;
    color: #ffffff;

    &__title {
      position: relative;
      font-weight: 700;
      font-size: 18px;

      &::before {
        content: '';
        position: absolute;
        top: 30px;
        width: 610px;
        border-bottom: 2px solid $basic;
      }
    }

    &__text {
      margin-top: 20px;
      margin-bottom: 23px;
      font-weight: 400;
      font-size: 14px;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: black;
      padding: 5px 25px;
      margin-top: 23px;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 40px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 400;
      font-size: 18px;
      transition: 0.3s all ease-in-out;

      &__connect {
        background: #78ded4;
        border: 2px solid #78ded4;

        &:hover {
          background: #78ded400;
          border: 2px solid #78ded4;
          color: #78ded4;

          svg {
            path {
              fill: #78ded4;
            }
          }
        }
      }

      &__disconnect {
        background: #8b9493;
        border: 2px solid #8b9493;
        cursor: auto;
      }
    }

    &__road {
      position: absolute;
      bottom: -155px;
      left: -25px;
    }
  }
}
