.home {
  position: relative;
  padding: 34px 40px;
  width: 100%;

  &__title {
    font-size: 48px;
    margin-left: 38px;
    margin-bottom: 60px;
  }

  &__menu {
    border: 2px solid $basic;
    border-radius: 3px;
    padding: 11px 42px;

    display: flex;
    align-items: center;
    gap: 37px;
    margin-bottom: 30px;

    a {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: $black;

      background: #78ded400;
      border-radius: 16px;
      padding: 9px 27px;
      transition: 0.3s all ease-in-out;

      &:focus,
      &:hover {
        background: #78ded4;
        border-radius: 16px;
        padding: 9px 27px;
      }
    }

    &::after {
      z-index: 1;
      content: '';
      position: absolute;
      top: 90px;
      left: 0px;
      width: 100%;
      border-top: 2px solid $basic;
    }
  }

  &__content {
    border: 2px solid $basic;
    border-radius: 3px;
    padding: 34px 42px;
  }
}
