* {
  box-sizing: border-box;
  background: black;
}

html {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
  font-weight: 400;
  font-family: 'ProximaNova';
  background: black;
}

body {
  z-index: 1;
  background: black;
}

input:focus {
  color: white;
}

svg {
  display: block;

  path,
  circle {
    transition: 0.3s all ease-in-out;
  }
}
