* {
  box-sizing: border-box;
}

html {
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: $black;
  font-weight: 400;
  font-family: 'Bai Jamjuree';
}

body {
  z-index: 1;
}

svg {
  display: block;

  path,
  circle {
    transition: 0.3s all ease-in-out;
  }
}
