// colors
$black: #0b0e11;
$black_borders: #2b3139;
$black_secondary: #1b1e25;
$black_cards: #14161c;
$black_input: #272b36;

$pure_white: #fff;
$white: #eaecef;
$gray: #848a8f;
$gray_secondary: #6e747c;

$green: #16c784;
$light_green: #15c784;
$dark_green: #047a4e;
$brand_yellow: #f6821f;
$red: #ea3943;

$rgba_in_progress: rgba(242, 192, 55, 0.2);

$header_hight: 64px;
